<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrey7melnikov.todomin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.andrey7melnikov.todominOLD.MainActivity_old"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.andrey7melnikov.todomin.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.andrey7melnikov.todominOLD.DBman_old"
            android:label="@string/title_activity_cursor" >
        </activity>
        <activity
            android:name="com.andrey7melnikov.todomin.DBman"
            android:label="@string/title_activity_cursor" >
        </activity>
        <activity
            android:name="com.andrey7melnikov.todomin.Item_view"
            android:label="@string/title_activity_item_view"
            android:theme="@style/dialog_light" >
        </activity>
        <activity
            android:name="com.andrey7melnikov.todominOLD.DbTabs"
            android:label="@string/title_activity_db_tabs" >
        </activity>
        <activity
            android:name="com.andrey7melnikov.todomin.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <provider android:name="ToDoProvider" android:authorities="ru.com.andrey7melnikov.todomin.provider"></provider>
    </application>

</manifest>
